<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="my-icons.html">
Access-Control-Allow-Origin: *

<link rel="lazy-import" href="my-accounts.html">
<link rel="lazy-import" href="my-login.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <link rel="import" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location route="{{route}}" tail="{{subroute}}">
    </app-location>

    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
    <iron-ajax id=doVerifyToken url="{{_verifyToken()}}" content-type="application/json" crossDomain:true
    dataType:'jsonp' method="POST" handle-as="json" on-response="handleResponse"></iron-ajax>
    <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main" >
      <my-login name="login"></my-login>
      <my-accounts name="accounts" route="[[subroute]]"></my-accounts>
      <my-detail name="detail" route="[[subroute]]"></my-detail>
      <my-transfer name="transfer" route="[[subroute]]"></my-transfer>
      <my-view404 name="view404"></my-view404>
    </iron-pages>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() {
        return 'my-app';
      }
      // Element class can define custom element reactions
      _verifyToken() {
        console.log("Petición enviada")
        let token = localStorage.getItem("token") || "";
        var tokenData = {
            "token": token,
        };
        this.$.doVerifyToken.headers['Access-Control-Allow-Headers'] = "*";
        this.$.doVerifyToken.headers['Authorization'] = token;
        console.log(tokenData);
        this.$.doVerifyToken.url = "http://localhost:3001/verify-token";
        this.$.doVerifyToken.body = JSON.stringify(tokenData);
        this.$.doVerifyToken.generateRequest();
      }

      handleResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        if(!data.detail.response.success) {
          let page = "login";
          window.history.pushState({}, null, page);
          window.dispatchEvent(new CustomEvent('location-changed'));
        } else {
          let page = "accounts";
          window.history.pushState({}, null, page);
          window.dispatchEvent(new CustomEvent('location-changed'));
        }
      }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          hide: {
            type: Boolean,
            value: true
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'view404';
      }
      
      logOut() {
        localStorage.clear();
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>