<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="my-account.html">
<link rel="lazy-import" href="my-detail.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
Access-Control-Allow-Origin: *

<dom-module id="my-accounts">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .float-right {
                float: right;
            }
        </style>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}">
        </app-route>
        <iron-ajax id=doGetAccounts url="{{_getAcconts()}}" content-type="application/json" crossDomain:true
            dataType:'jsonp' method="GET" handle-as="json" on-response="handleResponse"></iron-ajax>
        <app-drawer-layout fullbleed narrow="{{narrow}}">
            <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
                <app-toolbar>Menu</app-toolbar>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="accounts" href="/accounts">Cuentas</a>    
                    <button on-click="logout" type="button" name="button">Salir</button>
                </iron-selector>
            </app-drawer>
            <!-- Main content -->
            <app-header-layout has-scrolling-region>

                <app-header slot="header" condenses reveals effects="waterfall">
                    <app-toolbar>
                        <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
                        <div main-title>BBVA</div>
                     
                    </app-toolbar>
                </app-header>

                <dom-repeat name="accounts" items="{{accounts}}">
                    <template>
                        <a href="/detail/[[item._id]]">
                            <my-account account="{{item}}"></my-account>
                        </a>
                    </template>
                </dom-repeat>
            </app-header-layout>
        </app-drawer-layout>
    </template>

    <script>
        class MyAccounts extends Polymer.Element {
            static get is() {
                return 'my-accounts';
            }
            static get properties() {
                return {
                    routeData: Object,
                    subroute: Object,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                    accounts: {
                        type: Array,
                        notify: true,
                    }
                };
            }

            _getAcconts() {
                let token = localStorage.getItem("token") || "";
                this.$.doGetAccounts.headers['Access-Control-Allow-Headers'] = "*";
                this.$.doGetAccounts.headers['Authorization'] = token;
                this.$.doGetAccounts.url = "http://localhost:3001/cuentas";
                this.$.doGetAccounts.generateRequest();
            }

            handleResponse(data) {
                this.accounts = data.detail.response;
            }

            logout(){
            localStorage.removeItem('token');
            sessionStorage.removeItem('token');
            location.reload();
            }


   
           
                }
               
        window.customElements.define(MyAccounts.is, MyAccounts);

    </script>
    
</dom-module>