<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-movement.html">

<dom-module id="my-detail">
    <template>
        <app-route route="[[route]]" pattern="/:account" data="{{routeData}}"></app-route>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .float-right {
                float: right;
            }
        </style>
        <iron-ajax id=doGetAccount content-type="application/json" crossDomain:true dataType:'jsonp' method="GET"
            handle-as="json" on-response="handleResponse"></iron-ajax>
        <app-drawer-layout fullbleed narrow="{{narrow}}">
            <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
                <app-toolbar>Menu</app-toolbar>
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <a name="accounts" href="/accounts">Cuentas</a>
                     <button on-click="logout" type="button" name="button">Salir</button>
                </iron-selector>
            </app-drawer>
            <!-- Main content -->
            <app-header-layout has-scrolling-region>

                <app-header slot="header" condenses reveals effects="waterfall">
                    <app-toolbar>
                        <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
                        <div main-title>BBVA
                         
                         
                        
                    </div>

                

                        <a href="/transfer/[[account._id]]">Transferir</a>
                        
                    </app-toolbar>

                </app-header>

                <div class="card">
                   
                    <h1>
                        {{account.nombre}} <div class="float-right">$[[account.saldo]]</div>
                    </h1>
                    <h3>{{account.numero}}</h3>
                </div>
                <dom-repeat items="{{account.movimientos}}">
                    <template>
                        <my-movement movement="{{item}}"></my-movement>
                    </template>
                </dom-repeat>
            </app-header-layout>
        </app-drawer-layout>
    </template>

    <script>

        class MyAccountDetail extends Polymer.Element {
            static get is() {
                return 'my-detail';
            }
            static get properties() {
                return {
                    routeData: {
                        type: Object,
                        notify: true,
                        observer: '_dataObserver'
                    },
                    subroute: Object,
                    // This shouldn't be neccessary, but the Analyzer isn't picking up
                    // Polymer.Element#rootPath
                    rootPath: String,
                    account: {
                        type: String,
                        notify: true,
                    }
                };
            }

            handleResponse(data) {
                this.account = data.detail.response;
                console.log(this.account.movimientos);
            }

            _dataObserver() {
                let token = localStorage.getItem("token") || "";
                this.$.doGetAccount.headers['Access-Control-Allow-Headers'] = "*";
                this.$.doGetAccount.headers['Authorization'] = token;
                this.$.doGetAccount.url = "http://localhost:3001/cuentas/" + this.routeData.account;
                this.$.doGetAccount.generateRequest();
            }
            logout(){
            localStorage.removeItem('token');
            sessionStorage.removeItem('token');
            location.reload();
            }

        


           

                

        }
      
        window.customElements.define(MyAccountDetail.is, MyAccountDetail);
    </script>
</dom-module>