<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="my-movement.html">
Access-Control-Allow-Origin: *

<dom-module id="my-movements">
  <template>
    <iron-ajax id=doGetMovements url="{{_getMovements()}}" content-type="application/json" crossDomain:true
      dataType:'jsonp' method="GET" handle-as="json" on-response="handleResponse"></iron-ajax>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <dom-repeat items="{{movements}}">
      <template>
        <my-movement movement="{{item}}"></my-movement>
      </template>
    </dom-repeat>
  </template>

  <script>
    class MyMovements extends Polymer.Element {
      static get is() {
        return 'my-movements';
      }
      static get properties() {
        return {
          movements: {
            type: Array,
            notify: true,
          }
        };
      }

      _getMovements() {
        let token = localStorage.getItem("token");
        this.$.doGetMovements.headers['Access-Control-Allow-Headers'] = "*";
        this.$.doGetMovements.headers['Authorization'] = token;
        this.$.doGetMovements.url = "http://localhost:3001/movimientos";
        this.$.doGetMovements.generateRequest();
      }

      handleResponse(data) {
        this.movements = data.detail.response;
      }
    }

    window.customElements.define(MyMovements.is, MyMovements);
  </script>
</dom-module>